 .toolbar-format {
   height: 70px !important;
   padding: 10px;
   position: relative;
   background-image: none;
   background-color: #fff !important;
   border-bottom: 1px solid #dfdfdf;
   border-radius: 0;
   box-shadow: none;
   border-color: #ccc;
   min-height: 50px;
 }

 .img-brand {
   height: 56px;
 }

 .brand-name {
   border-left: 1px solid #dfdfdf;
   font-size: 1.2em;
   font-family: HoneywellSansWeb-Book;
   padding-left: 25px;
   margin-left: 15px;
   line-height: 35px;
   height: 100%;
   color: #707070;
   padding-top: 7px;
 }

 .right-nav {
   position: absolute;
   right: 1%;
   padding: 10px;
   font-size: 14px;
   font-family: HoneywellSansWeb-Bold;
   display: flex;
 }

 .nav-links {
   text-transform: uppercase;
   letter-spacing: 0.5px;
   color: #707070;
 }

 .notification-format {
   /* margin-left: 15px;
    padding-left: 20px; */
   border-left: 1px solid #dfdfdf;
 }

 .notification-badge {
   margin-top: 5px;
   font-size: 20px;
   height: auto;
   width: auto;
 }

 .profile-initial {
   margin-left: 25px;
   background: #cdcdce;
   height: 30px;
   border-radius: 50px;
   width: 30px;
   font-size: 13px;
   padding: 2px;
   text-align: center;
   cursor: pointer;
 }

 .btn {
   background-image: none;
   border-radius: 0;
   box-shadow: none;
   padding: 13px 36px !important;
   text-shadow: none;
   margin: 0px 0 !important;
   font-family: HoneywellSansWeb-Medium;
 }

 .dropDownMenu {
   border-color: #000;
   background-color: #303030;
   color: #fff;
   padding: 15px 0px 20px;
 }

 .color-white {
   color: white;
 }

 .dropDownMenu ul {
   margin-bottom: 0;
   padding: 0;
   border-bottom: 1px solid black;
   margin-bottom: 15px;
 }

 .dropDownMenu ul li {
   list-style-type: none;
 }

 .dropDownMenu ul li a {
   color: white;
   padding: 5px 15px !important;
   width: 100%;
   display: inline-block;
   margin-bottom: 5px;
 }

 .dropDownMenu ul li a.greyC {
   color: #dfdfdf !important;
   font-size: 14.5px;
 }

 .dropDownMenu ul li a.whiteC {
   color: #fff !important;
   font-size: 12px;
 }

 .logout {
   padding: 0px 15px;
 }

 .logoutBtn {
   background-image: none;
   border-radius: 0;
   box-shadow: none;
   padding: 8px 36px !important;
   text-shadow: none;
   margin: 0px 0 !important;
   font-family: HoneywellSansWeb-Medium;
   width: 100%;
   border: 1px solid #fff;
   color: #fff;
   background-color: transparent;
   text-transform: uppercase;
 }


 @media screen and (-ms-high-contrast: active),
 screen and (-ms-high-contrast: none) {

   /* IE10+ specific styles go here */
   .right-nav {
     position: relative !important;
     left: 55% !important;
     padding: 10px;
     font-size: 14px;
     font-family: HoneywellSansWeb-Bold;
     display: flex;
   }
 }

 .icon-size {
   font-size: 34px;
   margin-right: 10px;
 }

 .icon-size-feedback {
   font-size: 45px;
   margin-right: 10px;
 }

 .icon-size-defect {
   font-size: 35px;
   margin-right: 10px;
 }

 ::ng-deep .tooltip.in {
   opacity: 1 !important;
 }

 .icon-size-info {
   font-size: 35px;
   margin-right: 10px;
 }

 .tooltipcustom {
   display: inline-block;
   position: relative;
   border-bottom: 1px dotted #666;
   text-align: left;
 }


 .sub-toolbar {
   background: #3a3838 !important;
   height: 46px !important;
   font-family: SansBold !important;
   font-size: 14px !important;
   float: right;
 }

 .version {
   display: block;
   font-size: 10px;
   font-weight: bold;
   color: #fff;
   margin: 10px -90px 10px 0px;
   width: 16%, !important;
   font-family: HoneywellSansWeb-Book;
 }

 .button-container {
   width: 94% !important
 }