.card-container {
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .mat-error {
    color: red;
  }
  
  .group-dropdown-panel {
    max-height: initial; /* This prevents the max height limit */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .button-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Disable the proposed work pack input */
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .width150{
    width: 50%;
  }
  
  .small-field {
    height: 2%; 
    /* margin-bottom: -2.7%;  */
  }
  