
<footer class="footorBottom dark-theme">
    <div class="container">
        <ul class="list-inline small">
            <li><a href="http://www.honeywell.com/terms-conditions">Terms & Conditions</a></li>
            <li><a href="http://www.honeywell.com/privacy-statement">Privacy Statement</a></li>
            <li><a href="https://honeywell.com/sites/hrdirect/Pages/Welcome.aspx">Employee Access</a></li>
            <li><a href="https://www.honeywell.com/contact-us">Contact Honeywell</a></li>
            <li><a href="http://www.careersathoneywell.com/">Careers</a></li>
             <li class="copyright"><a href="http://www.honeywell.com/">&copy; {{date | date:'yyyy'}} Honeywell International Inc.</a></li>
        </ul>
       
    </div>
</footer>
